
body {
    display: flex;
    justify-content: center;    
    align-items: center;
}

.game-container {
    display: flex;
    flex-direction: column;
    background-color: #50cf94;
    width: 300px;
    height: 300px;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    justify-content: center;
}

textarea {
    width: auto;
    height: 50px;
    padding: 12px 12px;
    box-sizing: border-box;
    border: none;
    text-align: center;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    margin: 10px 10px;
    
}

#buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.choiceBtn {
    display: flex;
    justify-content: space-around;
    gap: 10px;

}

.game-container .score-disp {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.Scrs {
    display: flex;
    flex-direction: column;
    text-align: center;
}

button {
    border: 2px solid rebeccapurple;
    background-color: rebeccapurple;
    color: white;
    border-radius: 4px;
    width: 70px;
}
